* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
}

main {
  display: flex;
  justify-content: center;
  padding: 0 30px;
}

.container {
  background-color: white;
  width: 500px;
  margin-top: 100px;
  box-shadow: 0 0 10px #a5a1a1;
}

.title-container {
  position: relative;
}

.reload {
  position: absolute;
  top: 20px;
  right: 40px;
}

.app-title {
  font-size: 18px;
  font-family: Arial, sans-serif;
  font-weight: 700;
  padding: 20px 0 10px 10px;
  border-bottom: 1px solid #a5a1a1;
}

.to-do-list {
  width: 100%;
}

article {
  width: 100%;
  background-color: white;
}

article a {
  text-decoration: none;
}

.check,
.paragraph {
  padding: 0 20px;
}

/* article td {
  width: 23.33%;
  padding: 0 10px;
} */

.strike-through {
  font-style: italic;
  text-decoration: line-through;
}

/* article td img {
  width: 30px;
  margin: auto;
} */

.form-container {
  overflow-x: hidden;
  position: relative;
}

form {
  width: 100%;
}

.single-list {
  padding: 5px 10px;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #a5a1a19d;
}

.paragraph {
  border: none;
  outline: none;
  
}
input {
  border: none;
  outline: none;
  padding: 5px 0;
}
.paragraph {
  border: none;
  outline: none;
}

.check {
  margin-right: 10px;
}

.kebabImg {
  position: absolute;
  right: 40px;
}

.delete {
  position: absolute;
  right: 10px;
}

.completedBtn {
  width: 100%;
  height: 40px;
  border: none;
  margin-top: 20px;
  color: rgb(82, 75, 75);
}

.trashImg {
  position: absolute;
  left: 120px;
  top: 15px;
}

#addBtn {
  background-color: white;
  border: none;
  position: absolute;
  left: 320px;
  top: 3px;
  height: 40px;
  margin: auto;
}

#addBtn img {
  width: 20px;
}

#input-text {
  width: 100%;
  border: none;
  border-bottom: 1px solid #a5a1a1;
  padding: 20px 0 10px 10px;
  font-size: 16px;
  font-style: italic;
}

.textcomplete {
  width: 100%;
  height: 40px;
  border: none;
  font-size: 18px;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  font-weight: 500;
}

.edit {
  width: 310px;
  padding: 0 20px 0 5px;
  margin: auto;
  left: -25px;
  right: 0;
  position: absolute;
  height: 40px;
  border: none;
}

.edit:focus {
  outline: none;
}

.hide {
  display: none;
}

.editItem {
  display: none;
}

input:focus {
  outline: none;
}
